h1, h3, p{
  color: #FF00FF
}

input {
  text-align: center;
  display:inline-block;
}

#input_holder {
  width: 235px;
  margin: 0 auto;
}

#feedback {
  height: 30px;
}

#guess_counter{
  font-style: italic;
}
